@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(#141e30, #243b55);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #0d6efd;
}



nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0px;
    ;
}

li {
    list-style: none;
    float: left;
}

.name {
    padding-left: 50px;
    padding-top: 5px;
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: 40px;
    font-weight: 900;
}
/*.name:hover{
    color: white;
    -webkit-text-stroke:1px black;
}*/



#main-services-body {
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.general-container-service-page {
    display: grid;
    grid-template-columns: 1fr repeat(3, minmax(0, 1fr));
    gap: 2rem;
    width: 80%;
    margin: auto;
}

.card-service-page {
    width: 100%;
    position: relative;
    height: 24rem;
    background-color: background: rgba(0,0,0,.5);
    overflow-y: hidden;
    box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
}

    .card-service-page > .card-overlay > .title {
        margin: 0;
        display: block;
        background-color: #141e30;
        padding: 0.7rem;
        transform: translate3d(0, -100%, 0);
        transition: transform 300ms;
        border-radius: 0.25rem 0.25rem 0 0;
    }

.card-overlay > .title > h3 {
    margin: 0;
    font-size: 1rem;
    color: white;
}

.card-overlay > .title > p {
    margin: 0;
    font-size: 0.8rem;
}

.card-service-page > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.card-service-page a:hover ~ .card-overlay,
.card-service-page a:focus ~ .card-overlay {
    transform: translate3d(0, 0, 0);
}

    .card-service-page a:hover ~ .card-overlay .title,
    .card-service-page a:focus ~ .card-overlay .title {
        transform: translate3d(0, 0, 0);
    }

    .card-service-page a:hover ~ .card-overlay .card-body,
    .card-service-page a:focus ~ .card-overlay .card-body {
        opacity: 1;
    }

.service-card-images {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.card-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    transition: transform 300ms;
    background-color: #c1c1c1;
    transform: translate3d(0, 100%, 0);
}

.card-body {
    flex-grow: 1;
    padding: 1rem;
    opacity: 0;
    transition: opacity 500ms 100ms;
}

    .card-body p {
        margin: 0;
        text-align: justify;
    }

@media only screen and (max-width: 1200px) {
    .general-container-service-page {
        grid-template-columns: 1fr repeat(3, minmax(0, 1fr));
        gap: 1.7rem;
        width: 90%;
    }
}

@media only screen and (max-width: 1070px) {
    .general-container-service-page {
        grid-template-columns: 1fr repeat(2, minmax(0, 1fr));
        gap: 1.5rem;
        width: 90%;
    }
}

@media only screen and (max-width: 820px) {
    .general-container-service-page {
        grid-template-columns: 1fr repeat(1, minmax(0, 1fr));
        gap: 1.3rem;
        width: 90%;
    }
}

@media only screen and (max-width: 470px) {
    .general-container-service-page {
        grid-template-columns: 1fr;
        width: 80%;
    }
}
